{{ define "main" }}
  <article class="pa3 pa4-ns nested-copy-line-height nested-img">
    <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
      {{- .Content -}}
    </section>
    {{ range .Site.Data.members }}
      {{ with .Year }}
        <h1 class="flex-none"> {{ . }} 入部</h1>
      {{ else }}
        <h1 class="flex-none"> {{ .Title }} </h1>
      {{ end }}
      {{ range .Members }}
        {{ partial "member.html" . }}
      {{ end }}
    {{ end }}
  </article>
  <style>
      /* お行儀が悪いので後で別の場所に移す */
      .flex {
        display: flex;
      }
      .flex-1 {
        flex-grow: 1;
      }
      .thumbnail-wrapper {
        max-width: 30em;
        max-height: 30em;
      }
      img.thumbnail {
        width: 100%;
        /* height: auto; */
        /* max-height: 10em; */
        object-fit: cover;
      }
      .socials {
        padding-top: 1em;
      }

      .link-external {
        fill: #bababa;
      }

      .link-external:hover {
        fill: #3088d4;
      }
    </style>
{{ end }}
